%p
	Is picking a place to eat awkward for you or your guests? Don't let it be so
	awkward anymore. Let machines help you. Once you have completed the steps,
	above our monster machines will be unleashed and chew through all the
	votes, producing the most amicable option for your group.