.row
	%hr

	%ol
		%li.step.columns.small-2.small-centered.large-uncentered.text-center
			= render "step_1"
		%li.step.columns.small-2.small-centered.large-uncentered.text-center
			= render "step_2"
		%li.step.columns.small-2.small-centered.large-uncentered.text-center
			= render "step_3"

	%hr

	.columns.small-6
		= render "about"