%li.invite
	%h4= invite.invite_summary

	- unless invite.grub_session.closed?
		%h5.subheader= invite.actions

	- else
		%h5= invite.grub_session.decision_summary

	%p= render partial: "guest", collection: invite.grub_session.invites