.columns
	= form_for @grub_session do |f|
		.row.collapse
			.small-5.columns
				= f.text_field :invite_emails, class: 'small-6'
			.small-1.columns
				= f.submit 'invite', class: ['button', 'prefix']

		.row
			%p.columns
				Don't be a doofus, don't invite yourself. Each of your guests will get an email from one of our monsters explaning what to do next!

			%p.columns
				Clearly, you already know what's going on, you'll be asked to vote next.
