%nav.top-bar{data: {options: "is_hover:false"}}
	%ul.title-area
		%li.name
			- if logged_in?
				%h1
					%a #{current_user.decorate.formal}, it's time for lunch

			- else
				%h1
					%a I cannot wait to see what you have for lunch

		%li.toggle-topbar
			%a menu

	%section.top-bar-section
		%ul.left
		%ul.right
			%li= render 'shared/invites'
			%li= render 'shared/logout'